include AUTHORS COPYING mugshot.1 org.bluesabre.Mugshot.desktop.in README.md
include bin/*
recursive-include data *.svg *.ui *.xml
recursive-include mugshot *.py
recursive-include mugshot_lib *.py
recursive-include po *.po *.in
