Source: mugshot
Section: python
Priority: extra
Maintainer: Sean Davis <smd.seandavis@gmail.com>
Build-Depends: debhelper (>= 9.0.0),
 python (>= 2.6.6-3~),
 python-distutils-extra (>= 2.10)
Standards-Version: 3.9.4
Homepage: https://launchpad.net/mugshot
#Vcs-Git: git://git.debian.org/collab-maint/mugshot.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mugshot.git;a=summary

Package: mugshot
Architecture: all
Depends: ${shlibs:Depends}, 
 ${misc:Depends},
 ${python:Depends},
 gir1.2-glib-2.0,
 gir1.2-gtk-3.0,
 python-dbus,
 python-pexpect,
 gir1.2-gdkpixbuf-2.0,
 yelp
Description: lightweight user-configuration application
 Mugshot allows you to easily update personal user details. This includes:
 .
 Linux Profile image: ~/.face
 .
 User details stored in /etc/passwd
 .
 Pidgin buddy icon
 .
 LibreOffice user details
