Source: mugshot
Section: python
Priority: optional
Maintainer: Sean Davis <smd.seandavis@gmail.com>
Build-Depends: debhelper (>= 9.0.0),
 python3,
 python3-distutils-extra
Standards-Version: 3.9.5
Homepage: https://launchpad.net/mugshot
#Vcs-Git: git://git.debian.org/collab-maint/mugshot.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mugshot.git;a=summary

Package: mugshot
Architecture: all
Depends: ${shlibs:Depends}, 
 ${misc:Depends},
 ${python3:Depends},
 gir1.2-gdkpixbuf-2.0,
 gir1.2-glib-2.0,
 gir1.2-gstreamer-1.0,
 gir1.2-gst-plugins-base-1.0,
 gir1.2-gtk-3.0,
 python-cairo,
 python-dbus,
 python-pexpect,
 yelp
Suggests:
 gstreamer1.0-plugins-good, gstreamer1.0-tools
Description: lightweight user-configuration application
 Mugshot allows you to easily update personal user details. This includes:
 .
 Linux Profile image: ~/.face
 .
 User details stored in /etc/passwd
 .
 Pidgin buddy icon
 .
 LibreOffice user details
